.score-board-table {
  display: flex;
  justify-content: space-between;
  width: 90%;
  min-width: 180px;
  font-family: "Stardos Stencil", cursive;
}
.score-board-leader-line {
  color: red;
  padding: 0 10px;
}
.score-board-line {
  padding: 0 10px;
}
.score-board-section {
  margin: 0 10px;
}
.score-board-separator {
  border-right: 1px solid black;
}
.score-board-title {
  text-align: center;
  height: 40px;
  margin: 0;
  padding: 0;
  font-family: "Stardos Stencil", cursive;
}
.background-score-light {
  background-color: lightgoldenrodyellow;
}
.background-score {
  background-color: gold;
}
