.square-revealed {
  background: #fff;
  float: left;
  font-size: 26px;
  font-weight: bold;
  line-height: 40px;
  height: 40px;
  padding: 0;
  text-align: center;
  width: 40px;
}
.square-hide {
  background: green;
  float: left;
  font-size: 26px;
  font-weight: bold;
  line-height: 40px;
  height: 40px;
  padding: 0;
  text-align: center;
  width: 40px;
  border-top: 5px lightgreen outset;
  border-left: 5px lightgreen outset;
  border-right: 5px darkgreen outset;
  border-bottom: 5px darkgreen outset;
}
.square-locked {
  background-image: url("../../images/flag.png");
  background-color: green;
  background-position: center;
  background-size: 21px 21px;
  background-repeat: no-repeat;
  float: left;
  font-size: 26px;
  font-weight: bold;
  line-height: 40px;
  height: 40px;
  padding: 0;
  text-align: center;
  width: 40px;
  border-top: 5px lightgreen outset;
  border-left: 5px lightgreen outset;
  border-right: 5px darkgreen outset;
  border-bottom: 5px darkgreen outset;
}
.blue {
  color: rgb(22, 79, 223);
}
.green {
  color: green;
}
.red {
  color: red;
}
.dark-blue {
  color: darkblue;
}
.brown {
  color: brown;
}
.cyan {
  color: cyan;
}
.purple {
  color: purple;
}
