.square-revealed {
  background: #fff;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  /* margin-right: -1px;
  margin-top: -1px; */
  padding: 0;
  text-align: center;
  width: 34px;
}
.square-hide {
  background: green;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  /* margin-right: -1px;
  margin-top: -1px; */
  padding: 0;
  text-align: center;
  width: 34px;
}
.square-locked {
  background: red;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  /* margin-right: -1px;
  margin-top: -1px; */
  padding: 0;
  text-align: center;
  width: 34px;
}
.blue {
  color: rgb(22, 79, 223);
}
.green {
  color: green;
}
.red {
  color: red;
}
.dark-blue {
  color: darkblue;
}
.brown {
  color: brown;
}
.cyan {
  color: cyan;
}
.purple {
  color: purple;
}
